//- navbar placeholder. don't know if needed yet.
nav(class="navbar navbar-fixed-bottom navbar-default")
  div.container-fluid
    //- div.nav.navbar-nav
    div.col-sm-4.col-sm-offset-4.nav.text-center
      li
        if(institutional || library)
          a(href="mailto:sales@dezinersoftware.com") Contact Sales
        if(!institutional && !library && !startup)
          a(href="https://app.dezinersoftware.com/onboarding") Get Started!
        if(startup)
          a(href="https://app.dezinersoftware.com/onboarding/startup") Get Started!
        //- li <a class="font-eight" href="/tos">Terms of Service</a>
      //- div.nav.navbar-nav.navbar-right
      //-   li <a class="font-eight">Copyright &copy; 2016 Deziner Software,LLC All Rights Reserved.</a>
|<script type="text/javascript">window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");$.src="//v2.zopim.com/?2G3AcyUndbRZFEfgtqZNarQsMJqxUBFn";z.t=+new Date;$.type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");</script>
|<!-- Segment Pixel - Intercept Plans - DO NOT MODIFY --><img src="http://ib.adnxs.com/seg?add=6135407&t=2" width="1" height="1" /><!-- End of Segment Pixel -->
|<!-- Segment Pixel - Intercept Plans - DO NOT MODIFY --><img src="https://secure.adnxs.com/seg?add=6135407&t=2" width="1" height="1" /><!-- End of Segment Pixel -->
